.container {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 50px;
}
.container p {
  font-size: 20px;
}

.contentStyle {
  height: "425px";
  color: "#000";
}
.SImage {
  object-fit: fill;
  width: 900px;
  height: 445px;
}

@media screen and (max-width: 480px) {
  .container {
    height: 100vh;
  }
  .rowContainer {
    flex-direction: column-reverse;
  }
  .container h1 {
    font-size: 25px;
  }
  .container p {
    font-size: 15px;
  }
  .SImage {
    width: 100%;
    height: 300px;
  }
}
